doctype
html(lang="ru")
	head
		title ГидроСтройИзоляция
		meta(charset="utf-8")
		meta(name="viewport",content-width="width=device-width")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='../styles/build/build.css')
		script(type='text/javascript', src='../scripts/build/build.js')
		
		
	body
		include ./sections/header.jade
		main.content
			include ./sections/application.jade
			include ./sections/termin.jade
			include ./sections/advantages-of-material.jade
		footer
