doctype
html(lang="ru")
	head
		title ГидроСтройИзоляция
		meta(charset="utf-8")
		meta(name="viewport",content-width="width=device-width")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='../styles/build/build.css')
		script(type='text/javascript', src='../scripts/build/build.js')
		
		
	body
		header
			.wrapper
				img(src="../img/logo.png")
				nav#menu
					ul
						li: a(href="#") Услуги
						li: a(href="#") Технологии
						li: a(href="#") Акция
						li: a(href="#") Контакты
				a.btn(href="#form")
					span Отправить заявку
		main.content
			section#application
				.wrapper
					h1 Гидроизоляция «жидкой резиной»
					ul
						li
							.hover
								.text
									img(src="../img/application1.png")
									p.
										Жилых и коммерческих #[br]
										зданий
								.hide.animated
									ul
										li Кровля
										li.
											Плиты перекрытий, несущих #[br]
											конструкций и стен
										li Фундаменты и подвалы
										li Балконы и террасы
										li.
											Трубопроводы и подземные#[br]
											коммуникации
						li
							.hover
								.text
									img(src="../img/application2.png")
									p Частного сектора
								.hide.animated
									ul
										li Крыша
										li Стены и перекрытия
										li Фундаменты и подвалы
										li Балконы и террасы
										li.
											Трубопроводы и подземные #[br]
											коммуникации
										li.
											Водяные баки, водостоки, #[br]
											бассейны, пруды и другие водные #[br]
											сооружения
						li
							.hover
								.text
									img(src="../img/application3.png")
									p.
										Промышленных #[br]
										объектов
								.hide.animated
									ul
										li Кровля
										li.
											Плиты перекрытий, несущих #[br]
											конструкций и стен
										li.
											Подземные коммуникации, #[br]
											трубопроводы, тоннели и др.
										li.
											Мосты, каналы, отстойники и другие #[br]
											сооружения подачи и сбора воды
										li.
											 Подводящие железнодорожные и #[br]
											 автомобильные дороги и др.
			section.termin
				.wrapper
					h1.
						В работе мы используем современный
						высокотехнологичный материал
					.text
						.img
						.termin-block.
							#[b «Жидкая резина»] — универсальный защитный материал,#[br]
							представляющий собой битумно-полимерную эмульсию в жидком виде. При#[br]
							механическом распылении или нанесении вручную она застывает и преобразуется#[br]
							в плотную «резиновую» водонепроницаемую мембрану.
			section.advantages-of-material
				.wrapper
					h1 Преимущества материала
					ul.advantages-main
						li
							img(src="")
							p Быстро
							.text.
								Быстро монтируется, 
								быстро сохнет и отвердевает, 
								намертво соединяясь с поверхностью.
						li
							img(src="")
							p Без швов
							.text.
								Бесшовное монолитное 
								водонепроницаемое 
								полотно по всей 
								поверхности.
						li
							img(src="")
							p Для сложных поверхностей
							.text.
								Для поверхностей с любыми формами, 
								труднодоступных мест и влажных покрытий. 
						li
							img(src="")
							p Долгая эксплуатация
							.text.
								Срок эксплуатации гидроизоляции 
								«жидкая резина» от 25 до 40 лет. 
					ul.advantages-other
						li
							p Пожаробезопасность
							.text.
								Гидроизоляция 
								укладывается без применения огня.
						li
							p Звукоизоляция
							.text.
								Гасит звуки на высоких 
								частотах и существенно поглощает на низких. 
						li
							p Ремонтопригодность
							.text.
								Небольшие расходы на
								обслуживание и ремонт в долгосрочной перспективе. 
						li
							p Экономия средств
							.text.
								Гидроизоляция 
								укладывается без применения огня.
						li
							p Экологически безопасно
							.text.
								Не токсичен и не 
								выделяет запаха. 
		footer
		
