section#advantages-of-material
	.wrapper
		h1 Преимущества материала
		ul.advantages-main
			li
				img(src="../img/advantages1.png")
				p Быстро
				.text.
					Быстро монтируется, 
					быстро сохнет и отвердевает, 
					намертво соединяясь с #[br]поверхностью.
			li
				img(src="../img/advantages2.png")
				p Без швов
				.text.
					Бесшовное монолитное 
					водонепроницаемое 
					полотно по всей 
					поверхности.
			li
				img(src="../img/advantages3.png")
				p Для сложных поверхностей
				.text.
					Для поверхностей с любыми формами, 
					труднодоступных мест и влажных покрытий. 
			li
				img(src="../img/advantages4.png")
				p Долгая эксплуатация
				.text.
					Срок эксплуатации гидроизоляции 
					«жидкая резина» от 25 до 40 лет. 
		ul.advantages-other
			li
				p Пожаробезопасность
				.text.
					Гидроизоляция 
					укладывается без применения огня.
			li
				p Звукоизоляция
				.text.
					Гасит звуки на высоких 
					частотах и существенно поглощает на низких. 
			li
				p Ремонтопригодность
				.text.
					Быстро и хорошо ремонтируется при механических повреждениях.
			li
				p Экономия средств
				.text.
					Небольшие расходы на обслуживание#[br] 
					и ремонт в долгосрочной перспективе. 
			li
				p Экологически безопасно
				.text.
					Не токсичен и не 
					выделяет запаха. 
