//
	* html for block application
	*
	* @author Andrey Chechkin
	* @license GNU/AGPLv3
	* @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
section#application
	.wrapper
		h1 Гидроизоляция «жидкой резиной»
		ul
			li
				.hover
					.text
						img(src="../img/application1.png")
						p.
							Жилых и коммерческих #[br]
							зданий
					.hide.animated
						ul
							li Кровля
							li.
								Плиты перекрытий, несущих #[br]
								конструкций и стен
							li Фундаменты и подвалы
							li Балконы и террасы
							li.
								Трубопроводы и подземные#[br]
								коммуникации
			li
				.hover
					.text
						img(src="../img/application2.png")
						p Частного сектора
					.hide.animated
						ul
							li Крыша
							li Стены и перекрытия
							li Фундаменты и подвалы
							li Балконы и террасы
							li.
								Трубопроводы и подземные #[br]
								коммуникации
							li.
								Водяные баки, водостоки, #[br]
								бассейны, пруды и другие водные #[br]
								сооружения
			li
				.hover
					.text
						img(src="../img/application3.png")
						p.
							Промышленных #[br]
							объектов
					.hide.animated
						ul
							li Кровля
							li.
								Плиты перекрытий, несущих #[br]
								конструкций и стен
							li.
								Подземные коммуникации, #[br]
								трубопроводы, тоннели и др.
							li.
								Мосты, каналы, отстойники и другие #[br]
								сооружения подачи и сбора воды
							li.
								 Подводящие железнодорожные и #[br]
								 автомобильные дороги и др.
