section#contacts
	.wrapper
		h1 Контакты
		img.inline(src="../../img/contacts.png")
		ul.inline
			li.
				#[span Ваш менеджер:] 
				Назаренко Владислав
			li.
				#[span Телефон:] 
				8 (903) 405 73 19
			li
				span Skype:
				a(href="skype:nazarenko-skype") nazarenko-skype
		.inline.text.
			Свяжитесь со мной. 
			Я отвечу на все интересующие 
			вас вопросы и оформлю заявку 
			и на выезд специалиста 
			к вам на объект.
