header
	.wrapper
		img(src="../img/logo.png")
		nav#menu
			ul
				li: a(href="#application") Услуги
				li: a(href="#steps") Технологии
				li: a(href="#sales") Акция
				li: a(href="#contacts") Контакты
		a.btn(href="#form")
			span Отправить заявку
