header
	.wrapper
		img(src="../img/logo.png")
		nav#menu
			ul
				li: a(href="#") Услуги
				li: a(href="#") Технологии
				li: a(href="#") Акция
				li: a(href="#") Контакты
		a.btn(href="#form")
			span Отправить заявку
