section#sales
	.wrapper
		h1 Акция
		.sales-item
			img(src="../../img/percent.png")
			.text.
				Для всех заказчиков, заключивших договор до 30 сентября 2015 года – 
				#[b скидка 20%] на все гидроизоляционные материалы.
