section#sales
	.wrapper
		h1 Акция
		.sales-item
			img(src="../../img/percent.jpg")
			.text.
				Для всех заказчиков, заключивших договор до 30 сентября 2015 года – 
				скидка 20% на все гидроизоляционные материалы.
