//
	* html layots from steps
	*
	* @author Andrey Chechkin
	* @license GNU/AGPLv3
	* @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
section#steps
	h1 Этапы гидроизоляции
	ul
		li
			span.number 1
			p Подготовка поверхности
			.text.
				Предварительно поверхность очищается от сора, 
				демонтируется или ремонтируется старое покрытие, 
				если это необходимо. 
		li
			span.number 2
			p Нанесение грунтовки
			.text.
				В зависимости от размера поверхности, 
				грунтовка наносится с помощью установки безвоздушного 
				напыления или малярным валиком. Следующий этап начинается 
				спустя 1-3 часа после грунтования.

		li
			span.number 3
			p Нанесение «жидкой резины» 
			.text.
				«Жидкая резина» наносится с помощью установки безвоздушного напыления, 
				которая подает битумно-латексную эмульсию и коагулянт по двум контурам. 
				При выходе они смешиваются в воздухе 
				и происходит мгновенное разрушение оболочки эмульгатора. 
				Попадая на поверхность частички битума и латекса образуют 
				плотную мембрану. 
		li
			span.number 4
			p Защита гидроизоляции
			.text.
				Для защиты гидроизоляции от механических повреждений и 
				УФ излучений ее покрывают геотекстилем из полиэстера или другими защитными материалами. 
