//
	* html for block termin
	*
	* @author Andrey Chechkin
	* @license GNU/AGPLv3
	* @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
section#termin
	.wrapper
		h1.
			В работе мы используем современный
			высокотехнологичный материал
		.text
			.img
			.termin-block.
				#[b «Жидкая резина»] — универсальный защитный материал,#[br]
				представляющий собой битумно-полимерную эмульсию в жидком виде. При#[br]
				механическом распылении или нанесении вручную она застывает и преобразуется#[br]
				в плотную «резиновую» водонепроницаемую мембрану.
