section#termin
	.wrapper
		h1.
			В работе мы используем современный
			высокотехнологичный материал
		.text
			.img
			.termin-block.
				#[b «Жидкая резина»] — универсальный защитный материал,#[br]
				представляющий собой битумно-полимерную эмульсию в жидком виде. При#[br]
				механическом распылении или нанесении вручную она застывает и преобразуется#[br]
				в плотную «резиновую» водонепроницаемую мембрану.
