section#your-benefits
	.wrapper
		h1 Преимущества для Вас
		ul
			li
				p Мы предлагаем вам гибкий график платежей
				.text.
					Платежи за работу и материалы вносятся частями по графику платежей 
					после выполнения определенных этапов работ.  
			li
				p Гарантия нашей работы – 7 лет
				.text.
					Мы выдаем гарантийные документы и выполняем ремонтные работы 
					технологических повреждений. 
			li
				p Мы строго соблюдаем сроки выполнения работ
				.text.
					Вы можете быть уверены 
					в том, что работа будет выполнена в срок. График выполнения 
					работ подтвержден договором. 
			li
				p Мы предоставляем комплексное обслуживание
				.text.
					По вашему желанию мы демонтируем старое покрытие, выполним ремонт 
					механических повреждений покрытия «жидкая резина» и многое другое.
					
