section#contacts
	.wrapper
		h1 Контакты
		img.inline(src="../../img/contacts.png")
		ul.inline
			li.
				#[span Ваш менеджер:] 
				Назаренко Владислав
			li.
				#[span Телефон:] 
				8 (903) 405 73 19
			li
				span Skype:
				a(href="skype:nazarenko-skype") nazarenko-skype
			li
				a.btn(href="#form")
					span Отправить заявку
		.inline.text.
			Свяжитесь со мной.#[br]
			Я отвечу на все интересующие#[br] 
			вас вопросы и оформлю заявку#[br]
			и на выезд специалиста#[br] 
			к вам на объект.
