section#steps
	.wrapper
		h1 Этапы гидроизоляции
		ul
			li
				span.number(title="1") 1
				p Подготовка поверхности
				.text.
					Предварительно поверхность очищается от сора, 
					демонтируется или ремонтируется старое покрытие, 
					если это необходимо. 
			li
				span.number(title="2") 2
				p Нанесение грунтовки
				.text.
					В зависимости от размера поверхности, 
					грунтовка наносится с помощью установки#[br]
					безвоздушного напыления или малярным валиком. 
					Следующий этап начинается 
					спустя 1-3 часа после грунтования.

			li
				span.number(title="3") 3
				p Нанесение «жидкой резины» 
				.text.
					«Жидкая резина» наносится с помощью установки безвоздушного напыления, 
					которая подает битумно-латексную эмульсию и коагулянт по двум контурам. 
					При выходе они смешиваются в воздухе 
					и происходит мгновенное разрушение оболочки эмульгатора. 
					Попадая на поверхность частички битума и латекса образуют 
					плотную мембрану. 
			li
				span.number(title="4") 4
				p Защита гидроизоляции
				.text.
					Для защиты гидроизоляции от механических повреждений и 
					УФ излучений ее покрывают геотекстилем из полиэстера или 
					другими защитными материалами. 
